// web page
$hagenLink:           #4645A4;
$hagenVisited:        #6B2906;
$hagenGray:           #e8e8ea;
$hagenOldBlue:        #2a2a94;
$hagenBlue:           #004c97;
$hagenBlueHover:      #2f6daa;
$hagenYellow:         rgb(208,168,72);

$hagenBlueLight:  #6791be;  // info back
$hagenGrayLight:  #e4e4e4;  // card back
$hagenGrayMedium: #ddd;     // footer back
$hagenGrayDark:   #b1b3b3;  // ?

// reposis
$hagenRHover:         #6969d4;
$hagenRLink:          #494999;
$hagenRLinkAlt:       #3838c2;
$hagenRLinkHover:     #f39c12;
$hagenRInfoBack:      #dce4ec;
$hagenRButton:        #9d9d9d;
$hagenRButtonHover:   #848484;
$hagenRButtonBorder:  #7e7e7e;
$hagenText:           #4d4d4d;

// project variables


// bs overwrite
$primary:             $hagenBlue;
$secondary:           $hagenRInfoBack;
$border-radius:       4px;

$body-bg:             white;
$badge-font-weight:   normal;

$theme-colors: (
  alternative: $secondary
);

// OpenAccess colors based on open access monitor colors
$oa:              #f08112;
$oa-closed:       #8f989d;
$oa-green:        #0b610b;
$oa-gold:         #ffd966;
$oa-platin:       #22e4e4;
$oa-hybrid:       #4472c4;
$oa-bronze:       #cd7f32;
$oa-embargo:      #81c14b;
$oa-unvalidated:  #9467bd;

$oa-default-text-light: white;
$oa-default-text-dark:  black;
$oa-green-text:       $oa-default-text-light;

